<!DOCTYPE html>
<html>
	<head>
		<title>BLOCS</title>
		<link rel='stylesheet' type='text/css' href='css/style.css'	/>
		<link rel='stylesheet' type='text/css' href='css/fullcalendar.css' />		
	</head>

	<header>
		<div id='header_navBar'>
		
			<div id='header_logo'>
				<div class='extraWrapper'>
					<p id='header_logo_title'><a href='/'> BLOCS</a></p>
				</div>
			</div>
		
			{{#if loggedIn}}
				<div id='header_prinNav'>See upcoming events</div>
			{{else}}	
				<div id='header_prinNav'>What is Blocs?</div>
			{{/if}}	
			
			<div id='header_loginNav'>
				{{#if loggedIn}}
					<span id='header_nav2'><a href='/logout'>Logout</a></span>
				{{else}}
					<span id='header_nav1'><a href='/login'>Sign In</a></span>
					<span id='divider'>|</span>
					<span id='header_nav2'><a href='/register'>Register</a></span>
				{{/if}}
	
			</div>

		</div>		
	</header>		

	<body>		
		{{{ body }}}
	</body>	

<!-- <footer><p>2017</p></footer> -->

</html>