<div class='accessContainer'>

	<form class='popUpForm' id='regForm' method='post' action='/register'>

	<h2>Register</h2>

		<br />

		<div class='loginli'  class='indieli'>
			<input class='popUpInput' type='text' name='username' placeholder='username'>
		</div>

		<br />

		<div class='loginli'>
			<input class='popUpInput' type='password' name='password' placeholder='password'>
		</div>

		<br />

		<button name='submit' type='submit'>Register!</button>

		<br />

	</form>	

</div>	


