

<div id='calPage'></div>


<script type='text/javascript' src='/scripts/jquery.3.2.1.min.js'></script>
<script type='text/javascript' src='/scripts/moment.min.js'></script>
<script type='text/javascript' src='/scripts/fullcalendar.js'></script>
<script type='text/javascript' src='/scripts/cal.js'></script>