<div class='accessContainer'>
	<form class='popUpForm' id='addEventForm' method='post' action='/addEvent'>
		<h2>Add an Event to the Calendar</h2>

		<br />

		<div class='addEventLi'>
			<input class='addEventInput' type='text' name='title' placeholder='event name'>
		</div>	

		<br />

		<div class='addEventLi'>
			<input class='addEventInput' type='datetime-local' name='start' placeholder='event day and time'>
		</div>	

		<!-- <br />

		<div class='addEventLi'>
			<input class='addEventInput' type='time' name='time' placeholder='event time'>
		</div>	 -->

		<br />

		<div class='addEventLi'>
			<input class='addEventInput' type='text' name='eventGroup' placeholder='host group name'>
		</div>	

		<br />

		<div class='addEventLi'>
			<input class='addEventInput' type='url' name='url' placeholder='event link'>
		</div>	

		<br />

		<button name='submit' type='submit'>Submit</button>

	</form>	
</div>

<!-- 
title
start
//location
//issue
group name
url


tags? hashtags? -->