
<a href='/addevent'class='addEventLink_cal' id='eventLinkTop'><p>Add an Event</p></a>

<div id='calPage'></div>

<p class='addEventLink_cal' id='eventLinkBottom'><a href='/addevent'>Add an Event</a></p>

<script type='text/javascript' src='/scripts/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/scripts/moment.min.js'></script>
<script type='text/javascript' src='/scripts/fullcalendar.js'></script>
<script type='text/javascript' src='/scripts/cal.js'></script>