<div class='pageWrapper'>	

	<div id='bgImgContainer'>
		<img id='home_mastBgImg' src='img/masses.jpg'/>
	</div>

	<div id='home_appIdentification'>
		<!-- <h1 id='appName'>{{ name }}</h1> -->

		
	</div>

	<div id='home_siteSearch'>
		
		<!-- <h2 id='siteSearchTitle'>Search by</h2> -->
		

			<div id='home_locationBox' class='searchBar'>
				<h3>LOCATION</h3>
				<br>
				<input id='locationInput' class='searchField' type='text' placeholder='Enter zip'><button>Go</button></input>
			</div>	
			
			<div id='home_issueBox' class='searchBar'>
				<h3>ISSUE</h3>
				<br>
				<input id='issueInput' class='searchField' type='text' placeholder='Enter or browse issues'><button>Go</button></input>				
			</div>
			
			<div id='home_groupBox' class='searchBar'>
				<h3>GROUP</h3>
				<br>
				<input class='searchField' id='groupInput' type='text' placeholder='Enter or browse groups'></input>
				<button>Go</button>	
			</div>
	</div>	

	<div id='home_sitePages'>		
		<div class='blockNav' id='home_calendar'>
			<a href='/calendar'><img class='blockNavBgImg' id='cal_image'src="img/bw_cal.png"/>
			<p>View Calendar</p></a>
		</div>
		<div class='blockNav' id='home_addEvent'>
			<a href='/addevent'><img class='blockNavBgImg' id='event_image'src='img/megaphone.png'/>
			<p>Add an Event</p></a>
		</div>
	</div>	

</div>		