<div class='accessContainer'>

	<form class='popUpForm' id='regForm' method='post' action='/register'>

		<h2>Register</h2>

		<br />

		<div class='allNameDiv'>
			<div class='indieNameDiv'>	
				<p id='regNameInfo'>Individual or group name is required*</p>
				<div class='indieli' id='firstNameField'>
					<input class='popUpInput' type='text' name='firstName' placeholder='first name'>
				</div>

				<div class='indieli'>
					<input class='popUpInput' type='text' name='lastName' placeholder='last name'>
				</div>	
			</div>	
			

			<p>- or -</p>

			<div class='groupli'>
				<input class='popUpInput' type='text' name='groupName' placeholder='group name'>
			</div>
		</div>
			
		<br />

		<div class='loginli'>
			<input class='popUpInput' type='email' name='email' placeholder='email'>
		</div>

		<br />

		<div class='loginli'>
			<input class='popUpInput' type='password' name='password' placeholder='password'>
		</div>

		<br />

		<button name='submit' type='submit'>Submit</button>

	</form>	

</div>	


