<!DOCTYPE html>
<html>
	<head>
		<title>Project 1</title>
		<link rel='stylesheet' type='text/css' href='css/style.css'			
	</head>

	<header>
		<div id='header_navBar'>
		
			<div id='header_logo'>
				<div class='extraWrapper'>
					<p id='header_logo_title'><a href='/'> BLOCS</a></p>
				</div>
			</div>
		
				
			<div id='header_prinNav'>{{principleNav}}</div>
			
			<div id='header_loginNav'>
				{{#if user}}
					<span id='header_nav2'><a href='/logout'>Logout</a></span>
				{{else}}
					<span id='header_nav1'><a href='/login'>Sign In</a></span>
					<span id='divider'> | </span>
					<span id='header_nav2'><a href='/register'>Register</a></span>
				{{/if}}
	
			</div>

		</div>		
	</header>	

	<!-- <div id='bgImgContainer'>
		<img id='home_mastBgImg' src='img/masses.jpg'/>
	</div> -->
		
	<body>
		{{{ body }}}
	</body>	


</html>